@font-face {
    font-family: 'BLOKK';
    src: url('../fonts/Blokk/BLOKKNeue-Regular.eot'),
    url('../fonts/Blokk/BLOKKNeue-Regular.woff') format('woff');
}

h1,
h2,
h3,
h4,
h5,
li,
ul,
p {
    font-family: "Helvetica Neue";
}
